<% wrap_layout :layout do %>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-9 order-lg-2">
        <div class="row">
          <div class="col-lg-4 order-lg-2">
            <h2><%= current_page.data.title %></h2>
            <p><%= current_page.data.year %><br><%= current_page.data.dimensions %><br><%= current_page.data.description %></p>
          </div>
          <div class="col-lg-8 order-lg-1">
            <main>
              <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/works/<%= current_page.data.slug %>.jpg">
              <%= yield %>
            </main>
            <div class="container">
            	<div class="row">
            		<div class="row">

                  <% current_page.data.thumbs.times do |num| %>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                        data-image="<%= t(:static) %>/_img/works/<%= current_page.data.slug %>/lg/<%= num %>.jpg"
                        data-target="#image-gallery">
                        <img class="img-thumbnail"
                          src="<%= t(:static) %>/_img/works/<%= current_page.data.slug %>/sm/<%= num %>.jpg"
                          alt="Another alt text">
                      </a>
                    </div>
                  <% end %>

                  <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <img id="image-gallery-image" class="img-responsive col-md-12" style="padding:0" src="">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-link float-left" id="show-previous-image">
                            <img src="<%= t(:static) %>/_img/icons/arrow-left.svg" alt="" width="32" height="32" title="Previous">
                          </button>
                          <button type="button" id="show-next-image" class="btn btn-link float-right">
                            <img src="<%= t(:static) %>/_img/icons/arrow-right.svg" alt="" width="32" height="32" title="Next">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

            	   </div>
               </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 order-lg-1">
        <aside>
          <%= partial(:'partials/sidebar') %>
        </aside>
      </div>
    </div>
  </div>
<% end %>
