<% wrap_layout :layout do %>
  <div class="container-fluid pt-5 pb-5" style="background: #6f7a61">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <aside id="agnese">
          <%= yield %>
        </aside>
      </div>
      <div class="col-md-8 col-lg-9">
        <main class="row">
          <div class="col-md-3 offset-md-3  mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/cover.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/0.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/1.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/2.jpg">
          </div>
          <div class="col-md-12 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/3.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/4.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/5.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/6.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/7.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/8.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/9.jpg">
          </div>
          <div class="col-md-12 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/10.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/11.jpg">
          </div>
          <div class="col-md-6 mb-5">
            <img class="img-fluid" alt="<%= current_page.data.title %>" src="<%= t(:static) %>/_img/projects/<%= current_page.data.slug %>/lg/12.jpg">
          </div>
        </main>
      </div>
    </div>
  </div>
<% end %>
