<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Alberto Raiteri's artworks">
    <title>Alberto Raiteri <%= current_page.data.title %></title>

    <meta name="google-site-verification" content="9l7U98JUwJN6kQrFjG0TO3RUP0LrtMwFflrn0ugZBb4" />
    <meta property="og:title" content="Alberto Raiteri <%= current_page.data.title %>">
    <meta property="og:description" content="Alberto Raiteri's artworks">
    <meta property="og:image" content="http://albertoraiteri.com/images/thumbnail.jpg">
    <meta property="og:url" content="http://albertoraiteri.com">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="Alberto Raiteri">
    <meta name="twitter:image:alt" content="Alberto Raiteri's Swinging Song detail">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="content">
      <%= partial(:'partials/header') %>
      <%= yield %>
    </div>
    <%= partial(:'partials/footer', :locals => {:footer => 'Footer text'}) %>
    <%= javascript_include_tag "jquery-3.4.1.slim.min" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
