<footer>
  <p>
    <a class="btn btn-light" href="#">
      <img style="margin-right: 1rem" src="<%= t(:static) %>/_img/icons/download.svg" alt="" width="32" height="32" title="Download"> <%= t(:download) %> Portfolio (PDF - 54.9 MB)
    </a>
  </p>
  <p style="float:right"><%= t(:contact) %>: <a href="mailto:info.albertoraiteri@gmail.com">info.albertoraiteri@gmail.com</a></p>
  <p>&copy; <%= Date.today.year %> Alberto Raiteri. <%= t(:copyright) %>.</p>
</footer>
