<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Alberto Raiteri</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#the-navbar" aria-controls="the-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="the-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/<%= t(:domain) %>/artworks/"><%= t(:artworks) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/<%= t(:domain) %>/exhibitions/"><%= t(:exhibitions) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/<%= t(:domain) %>/about/"><%= t(:about) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/<%= t(:domain) %>/statement/"><%= t(:statement) %></a>
      </li>
    </ul>
    <a href="/en">EN</a> | <a href="/it">IT</a>
  </div>
</nav>
